# Pexels API Key para busca de imagens e vídeos no editor
PEXELS_API_KEY=""

# Combo API Secrets (opcional, para renderizadores externos)
COMBO_SK=""
COMBO_SH_JWT=""

# URL da API Backend
NEXT_PUBLIC_API_URL="http://127.0.0.1:4000"
