shamefully-hoist=false
ignore-scripts=true
save-exact=true
only-built-dependencies[]=next
only-built-dependencies[]=@tailwindcss/postcss
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver